@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    background: #0d1117;
    height: 100vh;
    color: #fff;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #161b22;
    padding: 20px;
    border-right: 2px solid #30363d;
    color: #fff;
}

.title-sidebar {
    border-bottom: 2px solid #30363d;
    margin-top: 10px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 23px;
    color: #fff;
}

.sidebar-options ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar-options ul li {
    margin: 20px 0;
}

.sidebar-options ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    transition: background 0.3s;
    color: #fff;
    font-size: 16px;
}

.sidebar-options ul li a:hover {
    background-color: #21262d;
}

.sidebar-options ul li a i {
    font-size: 20px;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 30px;
}

header h1 {
    font-size: 26px;
    color: #fff;
}

.form-section,
.table-section {
    margin-top: 30px;
}

.form-info input,
button {
    margin-top: 20px;
}

form input {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
    background: #0d1117;
    border: 1px solid #30363d;
    color: #fff;
    border-radius: 6px;
}

form input::placeholder {
    color: #aaa;
}

form button {
    padding: 10px 20px;
    background: #238636;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

form button:hover {
    background: #2ea043;
}

/* Table Styling */
table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    background: #161b22;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
}

th,
td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #30363d;
}

th {
    background: #0d1117;
    color: #d4af58 !important;
}

/* Colored Statuses */
.approved {
    color: #2ecc71 !important;
    font-weight: bold;
}

.pending {
    color: #f39c12 !important;
    font-weight: bold;
}

/* Buttons */
.deny-btn,
.approve-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
}

.approve-btn {
    background-color: #2ecc71;
}

.deny-btn {
    background-color: #e74c3c;
}

.approve-btn:hover {
    background-color: #27ae60;
}

.deny-btn:hover {
    background-color: #c0392b;
}

/* Remove Ar*
