@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0d1117;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

header {
  background: #0d1117;
  padding: 15px;
  border-bottom: 2px solid #30363d;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo-word {
  font-weight: 800;
  font-size: 1.5rem;
  color: #fff;
  margin-left: 100px;
}

.main-container {
  background-color: #161b22;
  width: 420px;
  border-radius: 20px;
}

.container {
  width: 100%;
  padding: 30px 40px;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

.input-box {
  position: relative;
  margin-bottom: 25px;
}

.input-box label {
  font-size: 0.95rem;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
  color: #ddd;
}

.input-box input {
  width: 100%;
  padding: 14px 45px 14px 15px;
  border-radius: 20px;
  border: 2px solid #30363d;
  background: transparent;
  color: #fff;
  outline: none;
  font-size: 0.95rem;
}

.input-box input::placeholder {
  color: #aaa;
  font-size: 0.95rem;
}

.input-box i {
  position: absolute;
  right: 15px;
  top: 63%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s ease;
}

.input-box i:hover {
  color: #fff;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  font-size: 0.9rem;
}

.remember-forgot label {
  display: flex;
  align-items: center;
}

.remember-forgot input[type="checkbox"] {
  margin-right: 5px;
  accent-color: #fff;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.remember-forgot a:hover {
  color: #3498db;
  text-decoration: underline;
}

.container .btn {
  width: 100%;
  padding: 15px;
  background-color: #2ecc71;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 20px;
}

.container .btn:hover {
  background-color: #27ae60;
}

.register-account {
  text-align: center;
  margin-top: 20px;
  font-size: 0.95rem;
}

.register-account a {
  color: #fff;
  padding-left: 5px;
  text-decoration: none;
  font-weight: 500;
}

.register-account a:hover {
  color: #3498db;
  text-decoration: underline;
}
